@font-face {
	font-family: Poppins-Regular;
	src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
@font-face {
font-family: Poppins-Bold;
src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
	font-family: IranSans-Light;
	src: url('../fonts/iran-sans/IRANSansWeb_Light.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: IranSans-Medium;
	src: url('../fonts/iran-sans/IRANSansWeb_Medium.ttf');
	font-style: normal;
	font-weight: normal;
}

body {
	font-family: Poppins-Regular!important;
	width:100%;
	height:100%;
	background: linear-gradient(90deg, #c84a40, #7bbc4a);
	background-size: 400% 400%;
	-webkit-animation: BackgroundColor 13s ease infinite;
	-moz-animation: BackgroundColor 13s ease infinite;
	animation: BackgroundColor 13s ease infinite;
}

#particles-js{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

div.lang {
	background: transparent!important;
}

div.lang a {
	padding-left: 20px;
	text-decoration: none;
	color: #fff!important;
	font-size: 18px;
	cursor: pointer;
}

div.lang a:hover {
	color: #7bbc4a!important;
}
  
div.container {
	margin-top: 8%;
	background: rgba(256, 256, 256, .8);
	border-radius: 10px;
}

div.border-bottom {
	border-bottom: 1px solid #949292!important;
}

input[type='text'],
input[type='email'],
input[type='password']{
	font-size: 20px!important;
	padding-bottom: 10px;
}

div.form-group label {
	font-size: 20px;
}

.btn {
	border: 1px solid #009688!important;
	border-radius: 10px!important;
	font-size: 16px!important;
	width: 200px;
}

/* Table */

.table-container {
	display: none;
}

.row {
	padding-bottom: 20px;
	padding-top: 20px;
}


.header {
	background: #009688;
	color: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-size: 20px;
}

.row:not(:first-child){
	border-bottom: 1px solid #949292;
}

.closeRow::before {
	content: '×';
	display: block;
	position: relative;
	right: 0;
	float: right;
	cursor: pointer;
	color: #c84a40;
}
.closeRowFa::before {
	content: '×';
	display: block;
	position: relative;
	right: 0;
	float: left;
	cursor: pointer;
	color: #c84a40;
}

/* Alerts */

.alert {
	position: fixed!important;
	bottom: 5%;
	left: 0;
	right: 0;
	margin: auto;
	width: 50%;
	text-align: center;
	border-radius: 10px!important;
	display: none;
}

@media only screen and (max-width:992px){
	.header {
		display: none!important;
	}
	.row {
		padding-top: 0;
		padding-bottom: 0;
	}
	.row.header {
		padding: 0;
		height: 0px;
	  }
	.row .cell {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.row .cell:before {
		font-family: Poppins-Bold;
		font-size: 12px;
		color: #808080;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: unset !important;
		position: relative;
		bottom: -5px;
		margin-bottom: 13px;
		content: attr(data-title);
		min-width: 98px;
		display: block;
	}
	.alert {
		width: 70%;
	}

}

@media only screen and (max-width:500px) {
	.alert {
		width: 100%;
	}
}

  /* Animation For Background */

@-webkit-keyframes BackgroundColor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundColor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgroundColor { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
	100%{background-position:0% 50%}
	100%{}
}